<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cxnxs.scheduler.mapper.ScenariosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cxnxs.webspider.web.entity.Scenarios">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="description" property="description"/>
        <result column="is_public" property="isPublic"/>
        <result column="tag_bg_color" property="tagBgColor"/>
        <result column="tag_fg_color" property="tagFgColor"/>
        <result column="icon" property="icon"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="selectScenariosList" resultType="cn.cxnxs.webspider.web.vo.ScenariosVo">
        select a.*,(select count(*) from scenario_agent_rel where scenario_id=a.id) as agentCount
        from scheduleScenarios a
        <where>
            <if test="scenariosVo.name!=null and scenariosVo.name!=''">
                and a.name like '%${scenariosVo.name}%'
            </if>
        </where>
    </select>

</mapper>
