<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cxnxs.scheduler.mapper.ScheduleScenariosMapper">

    <select id="selectScenariosList" resultType="cn.cxnxs.scheduler.vo.ScenariosVo">
        select a.*,(select count(*) from schedule_scenario_agent_rel where scenario_id=a.id) as agentCount
        from schedule_scenarios a
        <where>
            <if test="name!=null and name!=''">
                and a.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

</mapper>
