<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cxnxs.scheduler.mapper.ScheduleAgentMapper">

    <select id="selectByTypeProperties" resultType="cn.cxnxs.scheduler.entity.ScheduleAgent">
        select
        a.*
        from schedule_agent a join schedule_agent_type b on a.type=b.id
        <where>
            <if test="canCreateEvents!=null">
                and b.can_create_events=#{canCreateEvents}
            </if>
            <if test="canReceiveEvents!=null">
                and b.can_receive_events=#{canReceiveEvents}
            </if>
        </where>
    </select>

    <select id="pageSelectList" resultType="cn.cxnxs.scheduler.entity.ScheduleAgent">
        SELECT * FROM schedule_agent
        <where>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="scenarioId!=null">
                and id in(
                SELECT agent_id FROM schedule_scenario_agent_rel WHERE scenario_id=#{scenarioId}
                )
            </if>
        </where>
        order by created_at desc
    </select>
</mapper>
