<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cxnxs.scheduler.mapper.ScheduleEventsMapper">

    <select id="getUniquenessLookBackCount" resultType="int">
        select count(1) from (
        select payload_md5 from schedule_events where agent_id=#{agentId} order by created_at desc
        <if test="uniquenessLookBack!=null">
            limit ${uniquenessLookBack}
        </if>
        ) T where T.payload_md5 = #{payloadMd5}
    </select>
</mapper>
